body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI","微软雅黑 Light", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    min-height:150rem;

}


.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #111;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .8rem;
        padding-left: .8rem;
    }
}

.bg-white{
    background-color: #fff !important;
    box-shadow: 0px 0px 5px #aaa;
}

.logowhite{
    display: none;
}

.logoblack{
    display: none;
}

.navbar-dark .logowhite{
    display: block;
}

.navbar-light .logoblack{
    display: block;
}

.herovideowrap{
    width:100%;
    position: absolute;
    padding-bottom: 600px;
    height: 0;
    overflow: hidden;
    align-content: center;
    vertical-align: center;
}

.herovideo{
    position: absolute;
    width: 1920px;
    height: 1080px;
    min-width: 100%;
    min-height: 100%;
    top:50%;
    left:50%;
    margin-left:-960px;
    margin-top:-540px;
}

